.bodyindex {
    /*text-align: center;*/
    background-color:#ffdfcc !important;
}
form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.alert-primary{
    width: 100%;
    margin: auto;
}
.table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.navlink {
    color: white;
}

#bodyeditar {
    background-color:#ffdfcc;
    text-align:center;
}

